<a href="https://colab.research.google.com/github/quido18/quido18/blob/main/feather_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import feather
import numpy as np
import pandas as pd

np.random.seed = 42
df_size = 10_000_000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})
df.head()

          a         b         c         d         e
0  0.122932  0.162662  0.174981  0.229077  0.921279
1  0.397131  0.904987  0.216253  0.051355  0.150831
2  0.312549  0.596645  0.822255  0.509084  0.530452
3  0.827123  0.630947  0.697998  0.560676  0.175943
4  0.728207  0.198530  0.293967  0.549405  0.398529

In [2]:
df.to_feather('1M.feather')